In [1345]:
import pandas as pd 
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [1346]:
df = pd.read_csv('loan_data_2007_2014.txt')

/tmp/ipykernel_380993/4033074154.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan_data_2007_2014.txt')

In [1347]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1348]:
df.shape

(466285, 75)

In [1349]:
df.drop_duplicates(inplace=True)

In [1350]:
df.shape

(466285, 75)

In [1351]:
df.duplicated(subset=['id']).sum()

0

In [1352]:
df['issue_d'].nunique()

91

In [1353]:
df1 = pd.read_csv('loan_data_2015.txt')

/tmp/ipykernel_380993/1443982568.py:1: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('loan_data_2015.txt')

In [1354]:
df1.iloc[:,19]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
421089    NaN
421090    NaN
421091    NaN
421092    NaN
421093    NaN
Name: desc, Length: 421094, dtype: object

In [1355]:
df1.iloc[:,55]

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4         Not Verified
              ...
421089             NaN
421090             NaN
421091             NaN
421092             NaN
421093             NaN
Name: verification_status_joint, Length: 421094, dtype: object

In [1356]:
df1.shape

(421094, 74)

In [1357]:
df['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07', 'Dec-13', 'Nov-13', 'Oct-13', 'Sep-13', 'Aug-13',
       'Jul-13', 'Jun-13', 'May-13', 'Apr-13', 'Mar-13', 'Feb-13',
       'Jan-13', 'Dec-12', 'Nov-12', 'Oct-12', 'Sep-12', 'Aug-12',
       'Jul-12', 'Jun-12', 'May-12', 'Apr-12', 'Mar-12', 'Feb-12',
       'Jan-12', 'Dec-14', 'Nov-14', 'Oct-14', 'Sep-14', 'Aug-14',
       'Jul-14', 'Jun-14', 'May-14', 'Apr-14', 'Mar-14', 'Feb-14',
       'Jan-14'], dtype=object)

In [1358]:
df1['issue_d'].unique()

array(['Dec-15', 'Nov-15', 'Oct-15', 'Sep-15', 'Aug-15', 'Jul-15',
       'Jun-15', 'May-15', 'Apr-15', 'Mar-15', 'Feb-15', 'Jan-15'],
      dtype=object)

In [1359]:
df1.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,Foreign Service Officer,10+ years,MORTGAGE,128000.0,Source Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,200xx,DC,6.46,0.0,Feb-90,0.0,46.0,NaN,17.0,0.0,14277,27.4,46.0,w,35000.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,56.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,321.0,146867.0,1.0,11.0,0.0,0.0,28.0,35367.0,49.3,0.0,1.0,5020.0,40.1,52200.0,1.0,4.0,0.0
1,68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,Associate Consultant,< 1 year,MORTGAGE,100000.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,462xx,IN,7.28,0.0,Jul-01,0.0,NaN,NaN,15.0,0.0,7158,26.7,24.0,w,8650.0,8650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,165450.0,0.0,1.0,1.0,1.0,11.0,24041.0,88.8,0.0,3.0,3081.0,57.9,26800.0,1.0,0.0,5.0
2,67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,mechanic,5 years,RENT,35000.0,Source Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,672xx,KS,15.22,2.0,Jul-11,0.0,18.0,NaN,6.0,0.0,1058,24.6,6.0,w,4225.0,4225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,4888.0,0.0,1.0,0.0,0.0,47.0,3830.0,21.9,0.0,0.0,367.0,22.4,4300.0,0.0,0.0,0.0
3,68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,CARDIOVASCULAR TECH,10+ years,RENT,42500.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,460xx,IN,31.04,0.0,Dec-98,1.0,NaN,NaN,10.0,0.0,5812,40.9,23.0,w,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,41166.0,1.0,3.0,0.0,2.0,13.0,35354.0,75.5,1.0,1.0,3118.0,67.4,14200.0,1.0,1.0,1.0
4,68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-00,0.0,NaN,NaN,6.0,0.0,7869,56.2,18.0,w,20000.0,20000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Dec-15,0.0,NaN,1,JOINT,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,72.8,0.0,2.0,2081.0,64.7,14000.0,2.0,5.0,1.0

In [1360]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [1361]:
df.shape

(466285, 74)

In [1362]:
df1.shape

(421094, 74)

In [1363]:
df = pd.concat([df, df1], axis=0, ignore_index=True)

In [1364]:
df['member_id'].duplicated().sum()

0

In [1365]:
inv_cols = [col for col in df.columns if col.endswith('_inv')]

df.drop(columns=inv_cols, inplace=True)

In [1366]:
df.drop(['id', 'member_id', 'url', 'policy_code', 'application_type', 'zip_code', 'emp_title', 'title'], axis=1, inplace=True)

In [1367]:
df.shape

(887379, 63)

In [1368]:
pd.set_option('display.max_rows', None)

In [1369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 63 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    887379 non-null  int64
 1   funded_amnt                  887379 non-null  int64
 2   term                         887379 non-null  object
 3   int_rate                     887379 non-null  float64
 4   installment                  887379 non-null  float64
 5   grade                        887379 non-null  object
 6   sub_grade                    887379 non-null  object
 7   emp_length                   842554 non-null  object
 8   home_ownership               887379 non-null  object
 9   annual_inc                   887375 non-null  float64
 10  verification_status          887379 non-null  object
 11  issue_d                      887379 non-null  object
 12  loan_status                  887379 non-null  object
 13  pymnt_plan                   887379 non-null  object
 14  desc                         126026 non-null  object
 15  purpose                      887379 non-null  object
 16  addr_state                   887379 non-null  object
 17  dti                          887379 non-null  float64
 18  delinq_2yrs                  887350 non-null  float64
 19  earliest_cr_line             887350 non-null  object
 20  inq_last_6mths               887350 non-null  float64
 21  mths_since_last_delinq       433067 non-null  float64
 22  mths_since_last_record       137053 non-null  float64
 23  open_acc                     887350 non-null  float64
 24  pub_rec                      887350 non-null  float64
 25  revol_bal                    887379 non-null  int64
 26  revol_util                   886877 non-null  float64
 27  total_acc                    887350 non-null  float64
 28  initial_list_status          887379 non-null  object
 29  out_prncp                    887379 non-null  float64
 30  total_pymnt                  887379 non-null  float64
 31  total_rec_prncp              887379 non-null  float64
 32  total_rec_int                887379 non-null  float64
 33  total_rec_late_fee           887379 non-null  float64
 34  recoveries                   887379 non-null  float64
 35  collection_recovery_fee      887379 non-null  float64
 36  last_pymnt_d                 869720 non-null  object
 37  last_pymnt_amnt              887379 non-null  float64
 38  next_pymnt_d                 634408 non-null  object
 39  last_credit_pull_d           887326 non-null  object
 40  collections_12_mths_ex_med   887234 non-null  float64
 41  mths_since_last_major_derog  221703 non-null  float64
 42  annual_inc_joint             511 non-null     float64
 43  dti_joint                    509 non-null     float64
 44  verification_status_joint    511 non-null     object
 45  acc_now_delinq               887350 non-null  float64
 46  tot_coll_amt                 817103 non-null  float64
 47  tot_cur_bal                  817103 non-null  float64
 48  open_acc_6m                  21372 non-null   float64
 49  open_il_6m                   21372 non-null   float64
 50  open_il_12m                  21372 non-null   float64
 51  open_il_24m                  21372 non-null   float64
 52  mths_since_rcnt_il           20810 non-null   float64
 53  total_bal_il                 21372 non-null   float64
 54  il_util                      18617 non-null   float64
 55  open_rv_12m                  21372 non-null   float64
 56  open_rv_24m                  21372 non-null   float64
 57  max_bal_bc                   21372 non-null   float64
 58  all_util                     21372 non-null   float64
 59  total_rev_hi_lim             817103 non-null  float64
 60  inq_fi                       21372 non-null   float64
 61  total_cu_tl                  21372 non-null   float64
 62  inq_last_12m                 21372 non-null   float64
dtypes: float64(42), int64(3), object(18)
memory usage: 426.5+ MB

In [1370]:
df['issue_d'].value_counts()

issue_d
Oct-15    48631
Jul-15    45962
Dec-15    44342
Oct-14    38782
Nov-15    37530
Aug-15    35886
Apr-15    35427
Jan-15    35107
May-15    31913
Jul-14    29306
Sep-15    28641
Jun-15    28485
Mar-15    25400
Nov-14    25054
Feb-15    23770
May-14    19099
Apr-14    19071
Aug-14    18814
Jun-14    17179
Mar-14    16513
Jan-14    15628
Feb-14    15269
Dec-13    15020
Nov-13    14676
Oct-13    14114
Sep-13    12987
Aug-13    12674
Jul-13    11910
Jun-13    10899
Sep-14    10606
May-13    10350
Dec-14    10307
Apr-13     9419
Mar-13     8273
Feb-13     7561
Jan-13     6872
Nov-12     6382
Oct-12     6263
Sep-12     6087
Dec-12     6066
Aug-12     5419
Jul-12     4627
Jun-12     3817
May-12     3400
Apr-12     3230
Mar-12     2914
Jan-12     2602
Feb-12     2560
Dec-11     2267
Nov-11     2232
Oct-11     2118
Sep-11     2067
Aug-11     1934
Jul-11     1875
Jun-11     1835
May-11     1704
Apr-11     1563
Mar-11     1448
Jan-11     1380
Dec-10     1335
Feb-11     1298
Oct-10     1232
Nov-10     1224
Jul-10     1204
Sep-10     1189
Aug-10     1175
Jun-10     1105
May-10      989
Apr-10      912
Mar-10      828
Feb-10      682
Jan-10      662
Nov-09      662
Dec-09      658
Oct-09      604
Sep-09      507
Aug-09      446
Jul-09      411
Jun-09      406
Mar-08      402
May-09      359
Apr-09      333
Mar-09      324
Feb-08      306
Jan-08      305
Feb-09      302
Jan-09      269
Apr-08      259
Dec-08      253
Nov-08      209
Dec-07      172
Jul-08      141
Jun-08      124
Oct-08      122
May-08      115
Nov-07      112
Oct-07      105
Aug-08      100
Aug-07       74
Jul-07       63
Sep-08       57
Sep-07       53
Jun-07       24
Name: count, dtype: int64

In [1371]:
pd.set_option('display.max_rows', 20)

In [1372]:

date_cols = [col for col in df.columns if col.endswith('_d')]

date_cols.append('earliest_cr_line')
for col in date_cols:
    # errors='coerce' gip bin cc gi tr li/null thnh NaT (Not a Time) thay v bo li dng chng trnh
    df[col] = pd.to_datetime(df[col], format='%b-%y', errors='coerce')

In [1373]:
# Sp xp li d liu theo thi gian 
df = df.sort_values('issue_d')

# 2. THIT LP CC MC THI GIAN
# Mc 1: Kt thc tp Train/Val (Ht thng 9/2014)
train_cutoff = pd.Timestamp('2014-09-30')

# Mc 2: Bt u tp OOT (u nm 2015)
oot_start = pd.Timestamp('2015-01-01')

# 3. CHIA TCH D LIU
# Tp Development (2007 -> 09/2014)
df_dev = df[df['issue_d'] <= train_cutoff].copy()

# Tp OOT (2015 -> Ht)
df_oot = df[df['issue_d'] >= oot_start].copy()

# Lu : Cc dng thuc thng 10, 11, 12 nm 2014 t ng b loi b (Gap)

# 4. CHIA TP DEV THNH TRAIN (80%) V VALIDATION (20%)
# S dng train_test_split  chia ngu nhin
# shuffle=True: Trn ngu nhin  m bo phn phi u
df_train, df_val = train_test_split(df_dev, test_size=0.2, random_state=42, shuffle=True)

# 5. KIM TRA KT QU
print(f"--- THNG K S LNG ---")
print(f"1. Tng s d liu gc: {len(df):,}")
print(f"2. Tp Train (80% Dev): {len(df_train):,} (T 2007 n 09/2014)")
print(f"3. Tp Val   (20% Dev): {len(df_val):,} (T 2007 n 09/2014)")
print(f"4. Tp OOT   (2015):    {len(df_oot):,} (Nm 2015)")
print(f"5. D liu Gap (B):    {len(df) - len(df_train) - len(df_val) - len(df_oot):,} (Thng 10-12/2014)")

# Kim tra phn phi thi gian  chc chn khng b nhm
print("\n--- KIM TRA THI GIAN MAX/MIN ---")
print(f"Train Max Date: {df_train['issue_d'].max().strftime('%Y-%m')}")
print(f"OOT Min Date:   {df_oot['issue_d'].min().strftime('%Y-%m')}")

--- THNG K S LNG ---
1. Tng s d liu gc: 887,379
2. Tp Train (80% Dev): 313,713 (T 2007 n 09/2014)
3. Tp Val   (20% Dev): 78,429 (T 2007 n 09/2014)
4. Tp OOT   (2015):    421,094 (Nm 2015)
5. D liu Gap (B):    74,143 (Thng 10-12/2014)

--- KIM TRA THI GIAN MAX/MIN ---
Train Max Date: 2014-09
OOT Min Date:   2015-01

In [1374]:
pd.set_option('display.max_rows', None)

### Tnh y

In [1375]:
# 1. Tnh ton s lng v t l Null
null_sum = df.isnull().sum()
null_pct = (df.isnull().mean()) * 100  # mean() tng ng sum()/count()

# 2. To bng kt qu
missing_data = pd.DataFrame({
    'Total Null': null_sum,
    'Percent (%)': null_pct
})

# 3. Sort gim dn (Bin nhiu Null nht ln u)
missing_data = missing_data.sort_values(by='Percent (%)', ascending=False)

# 4. Hin th kt qu
# Ch hin th cc ct c Null > 0 cho gn (nu mun xem ht th b dng lc ny i)
print("--- CC BIN C D LIU B THIU ---")
display(missing_data[missing_data['Total Null'] > 0])

# Nu mun xem top 20 bin thiu nhiu nht:
# display(missing_data.head(20))

--- CC BIN C D LIU B THIU ---

                             Total Null  Percent (%)
dti_joint                        886870    99.942640
annual_inc_joint                 886868    99.942415
verification_status_joint        886868    99.942415
il_util                          868762    97.902024
mths_since_rcnt_il               866569    97.654892
open_acc_6m                      866007    97.591559
open_rv_24m                      866007    97.591559
inq_last_12m                     866007    97.591559
all_util                         866007    97.591559
max_bal_bc                       866007    97.591559
open_il_6m                       866007    97.591559
open_il_24m                      866007    97.591559
open_il_12m                      866007    97.591559
total_bal_il                     866007    97.591559
open_rv_12m                      866007    97.591559
inq_fi                           866007    97.591559
total_cu_tl                      866007    97.591559
desc                             761353    85.797951
mths_since_last_record           750326    84.555303
mths_since_last_major_derog      665676    75.015974
mths_since_last_delinq           454312    51.197065
next_pymnt_d                     252971    28.507661
tot_coll_amt                      70276     7.919502
total_rev_hi_lim                  70276     7.919502
tot_cur_bal                       70276     7.919502
emp_length                        44825     5.051393
last_pymnt_d                      17659     1.990018
revol_util                          502     0.056571
collections_12_mths_ex_med          145     0.016340
last_credit_pull_d                   53     0.005973
delinq_2yrs                          29     0.003268
earliest_cr_line                     29     0.003268
acc_now_delinq                       29     0.003268
open_acc                             29     0.003268
inq_last_6mths                       29     0.003268
total_acc                            29     0.003268
pub_rec                              29     0.003268
annual_inc                            4     0.000451

In [1376]:
pd.set_option('display.max_rows', 20)

In [1377]:
df.shape

(887379, 63)

Loi b cc bin joint applcation c 99% null. y l cc thng tin v thu nhp/xc thc khi c 2 ngi cng ng tn vay. Trong khi hu ht h s vay trn Lending Club l c nhn (Individual), nn khng c ngi th 2

In [1378]:
df.drop(['dti_joint', 'verification_status_joint', 'annual_inc_joint'], axis=1, inplace=True)

Xa cc bin m t ca ngi vay

In [1379]:
df.shape

(887379, 60)

In [1380]:
df.drop(['desc'], axis=1, inplace=True)

Xa cc bin ngy tr khon vay tip theo. Cc bin ny null do nu khon vay  ng (Paid off hoc Charged Off), s khng cn ngy tr tip theo. Loi b  trnh data leakage.

In [1381]:
df.shape

(887379, 59)

In [1382]:
# df.drop(['next_pymnt_d', 'recoveries', 'collection_recovery_fee', 'total_rec_prncp', 'total_rec_late_fee'], axis=1, inplace=True)

Cc bin ny thuc v nhm "New Attributes" m Lending Club mi bt u thu thp vo khong cui nm 2012 hoc 2013. Do dataset bt u t 2007, nn ton b giai on 2007-2012 s khng c d liu ny

In [1383]:
df.shape

(887379, 59)

In [1384]:
group_3_cols = [
    'il_util',              # T l s dng hn mc vay tr gp
    'mths_since_rcnt_il',   # S thng k t ln vay tr gp gn nht
    'inq_last_12m',         # S ln tra sot tn dng trong 12 thng
    'total_cu_tl',          # S lng ti khon ti chnh (Credit Union)
    'inq_fi',               # S ln tra sot ti chnh c nhn
    'all_util',             # T l s dng hn mc ca tt c cc loi ti khon
    'max_bal_bc',           # S d ln nht trn th tn dng (Bankcard)
    'open_rv_24m',          # S ti khon quay vng (th) m trong 24 thng
    'total_bal_il',         # Tng s d n vay tr gp
    'open_il_24m',          # S khon vay tr gp m trong 24 thng
    'open_il_12m',          # S khon vay tr gp m trong 12 thng
    'open_il_6m',           # S khon vay tr gp m trong 6 thng
    'open_acc_6m',          # S ti khon bt k m trong 6 thng
    'open_rv_12m'           # S ti khon quay vng m trong 12 thng
]

# Lnh xa
df = df.drop(columns=group_3_cols, errors='ignore')

In [1385]:
df.shape

(887379, 45)

In [1386]:
# 1. Tnh ton s lng v t l Null
null_sum = df.isnull().sum()
null_pct = (df.isnull().mean()) * 100  # mean() tng ng sum()/count()

# 2. To bng kt qu
missing_data = pd.DataFrame({
    'Total Null': null_sum,
    'Percent (%)': null_pct
})

# 3. Sort gim dn (Bin nhiu Null nht ln u)
missing_data = missing_data.sort_values(by='Percent (%)', ascending=False)

# 4. Hin th kt qu
# Ch hin th cc ct c Null > 0 cho gn (nu mun xem ht th b dng lc ny i)
print("--- CC BIN C D LIU B THIU ---")
display(missing_data[missing_data['Total Null'] > 0])

# Nu mun xem top 20 bin thiu nhiu nht:
# display(missing_data.head(20))

--- CC BIN C D LIU B THIU ---

                             Total Null  Percent (%)
mths_since_last_record           750326    84.555303
mths_since_last_major_derog      665676    75.015974
mths_since_last_delinq           454312    51.197065
next_pymnt_d                     252971    28.507661
tot_cur_bal                       70276     7.919502
tot_coll_amt                      70276     7.919502
total_rev_hi_lim                  70276     7.919502
emp_length                        44825     5.051393
last_pymnt_d                      17659     1.990018
revol_util                          502     0.056571
collections_12_mths_ex_med          145     0.016340
last_credit_pull_d                   53     0.005973
inq_last_6mths                       29     0.003268
acc_now_delinq                       29     0.003268
total_acc                            29     0.003268
delinq_2yrs                          29     0.003268
earliest_cr_line                     29     0.003268
open_acc                             29     0.003268
pub_rec                              29     0.003268
annual_inc                            4     0.000451

Cc bin c t l obs null ln nhng vn c gi li: 
- mths_since_last_delinq: S thng k t ln tr hn gn nht
- mths_since_last_record: S thng k t khi c h s cng khai (ph sn, kin tng...)
- mths_since_last_major_derog: S thng k t ln n xu nghim trng gn nht

Nu obs mang gi tr l Null c ngha l khch hng cha tng b tr hn, cha tng ph sn. Cc obs ny s c impute bng gi tr 9999.

In [1387]:
cols_to_impute = [
    'mths_since_last_delinq', 
    'mths_since_last_record', 
    'mths_since_last_major_derog'
]

df[cols_to_impute] = df[cols_to_impute].fillna(9999)

In [1388]:
df.shape

(887379, 45)

In [1389]:
# 1. Tnh ton s lng v t l Null
null_sum = df.isnull().sum()
null_pct = (df.isnull().mean()) * 100  # mean() tng ng sum()/count()

# 2. To bng kt qu
missing_data = pd.DataFrame({
    'Total Null': null_sum,
    'Percent (%)': null_pct
})

# 3. Sort gim dn (Bin nhiu Null nht ln u)
missing_data = missing_data.sort_values(by='Percent (%)', ascending=False)

# 4. Hin th kt qu
# Ch hin th cc ct c Null > 0 cho gn (nu mun xem ht th b dng lc ny i)
print("--- CC BIN C D LIU B THIU ---")
display(missing_data[missing_data['Total Null'] > 0])

# Nu mun xem top 20 bin thiu nhiu nht:
# display(missing_data.head(20))

--- CC BIN C D LIU B THIU ---

                            Total Null  Percent (%)
next_pymnt_d                    252971    28.507661
total_rev_hi_lim                 70276     7.919502
tot_coll_amt                     70276     7.919502
tot_cur_bal                      70276     7.919502
emp_length                       44825     5.051393
last_pymnt_d                     17659     1.990018
revol_util                         502     0.056571
collections_12_mths_ex_med         145     0.016340
last_credit_pull_d                  53     0.005973
inq_last_6mths                      29     0.003268
delinq_2yrs                         29     0.003268
earliest_cr_line                    29     0.003268
acc_now_delinq                      29     0.003268
pub_rec                             29     0.003268
total_acc                           29     0.003268
open_acc                            29     0.003268
annual_inc                           4     0.000451

### cc ct mang thng tin ging nhau

In [1390]:
sub_grade_prefix = df['sub_grade'].astype(str).str[0]

# 2. So snh vi ct grade
# To iu kin: True nu ging nhau, False nu khc nhau
is_match = (sub_grade_prefix == df['grade'])

# 3. Thng k kt qu
num_matches = is_match.sum()
num_mismatches = len(df) - num_matches

print(f"Tng s dng d liu: {len(df)}")
print(f"S dng KHP (Match): {num_matches}")
print(f"S dng LCH (Mismatch): {num_mismatches}")

Tng s dng d liu: 887379
S dng KHP (Match): 887379
S dng LCH (Mismatch): 0

In [1391]:
df['pymnt_plan'].value_counts()

pymnt_plan
n    887369
y        10
Name: count, dtype: int64

In [1392]:
a = df[df['last_pymnt_d'] == df['last_pymnt_d'].min()]
a['loan_status']

42444    Does not meet the credit policy. Status:Fully ...
42383    Does not meet the credit policy. Status:Charge...
Name: loan_status, dtype: object

In [1393]:
# Lc ra nhng ngi  TR HT N (Good) nhng VN MT PH PHT
good_but_late = df[(df['loan_status'] == 'Fully Paid') & (df['total_rec_late_fee'] > 0)]

print(f"S lng h s tr ht n nhng tng b pht: {len(good_but_late)}")
print("V d 5 h s:")
display(good_but_late[['loan_status', 'total_rec_late_fee', 'total_pymnt']].head())

S lng h s tr ht n nhng tng b pht: 2686
V d 5 h s:

      loan_status  total_rec_late_fee  total_pymnt
39750  Fully Paid           14.972220      4096.26
39753  Fully Paid           19.840000     14360.84
39706  Fully Paid           59.995467      7647.72
39705  Fully Paid           29.994056      8570.45
39660  Fully Paid          104.942381      5931.25

In [1394]:
df.drop(['grade', 'pymnt_plan'], axis=1, inplace=True)

In [1395]:
# Danh sch cc bin gy Leakage v Nhiu cn loi b
leakage_cols = [
    # 1. Nhm thanh ton (Payment Progress) - NGUY HIM NHT
    'out_prncp',  
    'total_pymnt', 
    'total_rec_prncp', 'total_rec_late_fee',
    'recoveries', 'collection_recovery_fee',
    
    # 2. Nhm ngy thng (Timing)
    'last_pymnt_d', 'next_pymnt_d'
    
    # 3. Nhm khc
    # 'funded_amnt', # D tha vi loan_amn
    
]

# Ch xa nhng ct thc s tn ti trong df
cols_to_drop = [col for col in leakage_cols if col in df.columns]

df.drop(columns=cols_to_drop, inplace=True)

In [1396]:
df.shape

(887379, 35)

- B bin do t l missing ln: 19
- Gi li v impute: 3
- B bin mang thng tin tr n:
- B bin mang thng tin inv: 
- B bin trng lp thng tin:
  
Tng cn li: 38

### Kim tra logic tng bin

In [1397]:
df.columns

Index(['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment',
       'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'total_rec_int', 'last_pymnt_amnt',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'total_rev_hi_lim'],
      dtype='object')

In [1398]:
pd.set_option('display.max_columns', None)

In [1399]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 887379 entries, 39785 to 501391
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    887379 non-null  int64
 1   funded_amnt                  887379 non-null  int64
 2   term                         887379 non-null  object
 3   int_rate                     887379 non-null  float64
 4   installment                  887379 non-null  float64
 5   sub_grade                    887379 non-null  object
 6   emp_length                   842554 non-null  object
 7   home_ownership               887379 non-null  object
 8   annual_inc                   887375 non-null  float64
 9   verification_status          887379 non-null  object
 10  issue_d                      887379 non-null  datetime64[ns]
 11  loan_status                  887379 non-null  object
 12  purpose                      887379 non-null  object
 13  addr_state                   887379 non-null  object
 14  dti                          887379 non-null  float64
 15  delinq_2yrs                  887350 non-null  float64
 16  earliest_cr_line             887350 non-null  datetime64[ns]
 17  inq_last_6mths               887350 non-null  float64
 18  mths_since_last_delinq       887379 non-null  float64
 19  mths_since_last_record       887379 non-null  float64
 20  open_acc                     887350 non-null  float64
 21  pub_rec                      887350 non-null  float64
 22  revol_bal                    887379 non-null  int64
 23  revol_util                   886877 non-null  float64
 24  total_acc                    887350 non-null  float64
 25  initial_list_status          887379 non-null  object
 26  total_rec_int                887379 non-null  float64
 27  last_pymnt_amnt              887379 non-null  float64
 28  last_credit_pull_d           887326 non-null  datetime64[ns]
 29  collections_12_mths_ex_med   887234 non-null  float64
 30  mths_since_last_major_derog  887379 non-null  float64
 31  acc_now_delinq               887350 non-null  float64
 32  tot_coll_amt                 817103 non-null  float64
 33  tot_cur_bal                  817103 non-null  float64
 34  total_rev_hi_lim             817103 non-null  float64
dtypes: datetime64[ns](3), float64(20), int64(3), object(9)
memory usage: 243.7+ MB

In [1400]:
df['emp_length'].unique()

array(['< 1 year', '2 years', '10+ years', '9 years', '1 year', '3 years',
       '6 years', '8 years', '5 years', '4 years', '7 years', nan],
      dtype=object)

In [1401]:
df['term'].value_counts()

term
36 months    621125
60 months    266254
Name: count, dtype: int64

In [1402]:
df['last_pymnt_d']

KeyError: 'last_pymnt_d'

In [ ]:
df['home_ownership'].value_counts()

In [ ]:
df['verification_status'].value_counts()

In [ ]:
df['initial_list_status'].value_counts()

In [ ]:
df['purpose'].value_counts()

In [ ]:
df['loan_status'].value_counts()

In [ ]:
df.describe()

In [ ]:
pd.set_option('display.max_columns', 20)

dti: Debt-to-Income Ratio max = 999

In [ ]:
plt.figure(figsize=(12, 3))
    
sns.boxplot(x=df['dti'], color='lightgreen')

plt.xlabel('dti')

# Hin th hnh
plt.show()

annual_inc min = 0

In [ ]:
plt.figure(figsize=(12, 3))
    
sns.boxplot(x=df['annual_inc'], color='lightgreen')

plt.xlabel('annual_inc')

# Hin th hnh
plt.show()

In [ ]:
a = df[df['annual_inc'] == 0]
a['dti']

In [ ]:
a = df[df['dti'] == 9999]
a['annual_inc']

In [ ]:
df.drop(a.index, inplace=True)

In [ ]:
df['dti'] = df['dti'].clip(upper=60)

In [ ]:
plt.figure(figsize=(12, 3))
    
sns.boxplot(x=df['dti'], color='lightgreen')

plt.xlabel('dti')

# Hin th hnh
plt.show()

revol_util max = 892.3

In [ ]:
plt.figure(figsize=(12, 3))
    
sns.boxplot(x=df['revol_util'], color='lightgreen')
a
plt.xlabel('revol_util')

# Hin th hnh
plt.show()

In [ ]:
df['revol_util'] = df['revol_util'].clip(upper=120)

In [ ]:
plt.figure(figsize=(12, 3))
    
sns.boxplot(x=df['revol_util'], color='lightgreen')
a
plt.xlabel('revol_util')

# Hin th hnh
plt.show()